page{
}

.item{
  background-color: #fff;
  padding: 0 20rpx;
  margin-bottom: 30rpx;
  .item-header{
    padding: 20rpx 0;
    border-bottom: 1px solid $uni-bg-color;
  }
  .item-body{
    padding: 20rpx 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

